<!-- First Part, Render the grid and other useful stuff . This is the play ground  -->
<div class="container">
  <div class="row heading-row">
    <div >
      <h2>{{title}} multiplayer game</h2>
    </div>
    <div [class.current-player]="displayPlayerTurn">
      Player 1
    </div>
    <br/>
    <div [class.current-player]="!displayPlayerTurn">
      Player 2
    </div>
  </div>

  <div class = "row">
    <div class = "text-center">
      <table id = "game" class="game-grid">
        <tr *ngFor = "let iterationNumber of gameGrid">
          <td *ngFor = "let number of iterationNumber"
              class="grid-{{number}}"
              id="grid{{number}}" (click)=null>
                x
          </td>
        </tr>
      </table>
    </div>
    <h6> This is Room Number {{roomNumber}}.</h6>
  </div>

  <!-- Second Part, Create and select Rooms -->
  <ng-template #content>
    <div>
      <span>Total Rooms Available: {{totalRooms}}</span>
    </div>
    <div class="modal-body">
    	<div class="container">
        <div  [hidden]="roomNumber > 0 ? true :false">
          <div >
            <h6 class="text-center">Available Rooms to Join</h6>
          </div>
          <div class="text-center">
            <h5>
              <span>OR</span>
            </h5>
            <button class="btn btn-primary" (click)="createRoom()"> Create New Room</button>
          </div>
        </div>
			<br>
        <div [hidden]="roomNumber > 0 ? false :true">
          <h2 class="text-center">Waiting for player to join</h2>
          <br/>
          <br/>
          <br/>
          <h6 class="text-center">You are in Room Number {{roomNumber}}, Tell your friend to join Room Number {{roomNumber}}</h6>
        </div>
		  </div>
  	</div>
  </ng-template>
</div>